/* BIG IT162 */

/* --------Color Palette ---------- 
#3b1f2b - Dark Purple  
#c73e1d - Vermilion
#2D4654 - Charcoal
#FFFFFC - Baby Powder
#6CCFF6 - Baby Blue     
*/

* {
    margin:0;
    padding:0;
}

html,body {
    background-color:#2D4654;
    padding-top: 12px;
}

main.wrapper {
    width: 90%;
    margin:auto;
    background-color:#2D4654;
    color: #FFFFFC;
    overflow:auto;
}

section {
    float:left;
    width:64%;
    padding-left:2.5%;
}

aside {
    float:right;
    width:26%;
    padding-right:2.5%;
}

header {
    width: 90%
    margin: auto;
    background-color: #2D4654;
    color: #FFFFFC;
}

header h1 {
    text-align:right;
    padding-right: 2.5%;
    color: #a23b72;
}

header a {
    color: #c73e1d;
    text-decoration: none;
}

header a:hover {
    color:white;
    background-color: #c73e1d;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    padding:.5em;
    color: #FFFFFC;
}

p {
    margin:1em .8em;
    color: FFFFFC;
}

a {
    color: #c73e1d;
}

a:hover {
    color:white;
    background-color: #c73e1d;
}

footer {
    margin: auto;
    text-align:center;
    text-transform:uppercase;
    clear:both;
    background-color:#2D4654;
    overflow:auto;
}

footer p {
    padding:2em;
    color: #FFFFFC;
}

footer a {
    color: #c73e1d;
    text-decoration: none;
}
 
footer a:hover {
    color:white;
    background-color: #c73e1d;
}

main.dot iframe {
    border:0;
    overflow:no;
}

/* START Global Embed Responsively Rules! */
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
} 

.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.embed-container.agenda-view {
    display:none;
}

/* END Global Embed Responsively Rules! */


    

/* Phat PHONE Rules! */
@media all and (max-width:700px) {

    
    /* Show Agenda View Calendar */
    .embed-container.agenda-view {
        display:block;
    }
    
    /* Hide Month View Calendar */
    .embed-container.month-view {
        display:none;
    }
}


