/* My WEB120 Portal Website Styles */

/* --------Color Palette ----------
#4E0250 - Russian Violet - Header/Footer
#801A86 - Mardi Gras
#645986 - Dark Blue Gray - Main Font Color
#8FE388 - Light Green 
#58BC82 - Medium Sea Green */

/* ----------- Global Styles ----------- */
html, body {
    background-color:#ccc; 
    box-sizing: border-box; 
}

*, *:before, *:after {
  box-sizing: inherit;    
}

main.wrapper, footer {
    background-color:#fff;
    color: #343434;
    width:90%;
    padding: 10px;
    margin: auto;
    padding: 0;
    overflow:auto;
}

.section {
    float:left;
    width:64%;
    padding-left: 2.5%;
}

.aside {  
    float:right;
    width:26%;
    padding-right: 2.5%;
}

header {
    background: #4E0250;
    top: 0;
    margin: 0;
    color: #58BC82;
}

header h1 {
    text-align: right;
    text-decoration: none;
    color: #58BC82;
}

h1 h2 h3 h4 h5 h6 {
    font-weight: normal;
    padding: .5em;
}

p {
    margin: 1em .8em;
}

footer p {
    padding: 2em;
}

footer a {
    color: red;
    text-decoration: none;
}

footer a:hover {
    color: white;
    background-color: black;
}

/* font awesome icon styles */
i.logo {
    color: darkred; /* a less boring color */
    text-shadow: 1px 1px #ccc; /* give the icon a little depth */
    font-size: 1.25em; /* font awesome icons are text, so make it a bit bitter */
    margin-left: 1%; /* this keeps the icon from being squeezed to the left */
}


/* Embed Responsively Rules! */
div.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin: auto;
    max-width: 98%;
} 

div.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* START RESPONSIVE STYLES */

  
      
    img.desktop {
            float: left;
          width:25%;
            border: 5px solid #4E0250;
            margin: 10px; 
            display:inline-block;
    }
    
    img.tablet, img.phone {
        display:none;
      }  
    
    /* Change background color of navigation on selected page */
    ul.topnav li a.selected {
            background-color: #645986;
            color:#000;
     }



/* TABLET */
@media all and (min-width:737px) and (max-width:1399px) {
  
  section {
    width:60%;
    float:left;
  }
  
  aside { 
    width:39%;
        padding: 3px;
    float:right;
  }
  
    img.tablet {
          width:100%;
            padding: 1px;
            border: 3px solid #4E0250;
            display:inline-block;
    }
    
    img.desktop, img.phone {
        display:none;
      }  
    
    
    /* Change background color of navigation on selected page */
    ul.topnav li a.selected {
        background-color: #645986;
        color:#000;
    }
}

/* PHONE */
@media all and (max-width:736px) {
    
    img.phone {
          width:100%;
            border: 3px solid #4E0250;
            margin: 5px;
            display:inline-block;
    }
    
    img.tablet, img.desktop {
        display:none;
      }  

}